* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }
  
  body {
    background: #f5f7fa;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .container {
    width: 100%;
    max-width: 420px;
    padding: 20px;
  }
  
  .form-card {
    background: #ffffff;
    padding: 30px 25px;
    border-radius: 20px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
    transition: 0.3s ease-in-out;
  }
  
  .form-card h2 {
    text-align: center;
    color: #1E88E5;
    margin-bottom: 25px;
  }
  
  form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  label {
    font-size: 14px;
    color: #2c3e50;
    font-weight: 500;
  }
  
  input {
    padding: 10px 12px;
    font-size: 14px;
    border-radius: 10px;
    border: 1px solid #ccc;
    transition: 0.3s;
  }
  
  input:focus {
    border-color: #1E88E5;
    outline: none;
    box-shadow: 0 0 4px rgba(30, 136, 229, 0.3);
  }
  .psw {
    position: relative;
    width: 100%;
  }

  .psw input {
    width: 100%;
    padding-right: 40px;
   }

  .toggle-password {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
  }
  
  .footer {
    text-align: right;
    margin-top: -5px;
  }
  
  .footer a {
    font-size: 13px;
    text-decoration: none;
    color: #1E88E5;
  }
  
  .login-btn {
    margin-top: 10px;
    background: #1E88E5;
    color: #fff;
    padding: 12px;
    font-size: 16px;
    border: none;
    border-radius: 12px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .login-btn:hover {
    background: #1565c0;
  }
  .clogo{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }

  .clogo img:hover{
    cursor: pointer;
    transition: 0.3s ease-in-out;
    box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.18);
  }

  .input-group {
    position: relative;
    width: 100%;
  }
  
  .input-group input {
    width: 100%;
    padding: 10px 40px 10px 12px;
    font-size: 14px;
    border-radius: 10px;
    border: 1px solid #ccc;
    transition: 0.3s;
  }
  
  .input-group input:focus {
    border-color: #1E88E5;
    outline: none;
    box-shadow: 0 0 4px rgba(30, 136, 229, 0.3);
  }
  
  .input-group .icon {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    color: #888;
    pointer-events: none;
  }
  
  .psw .toggle-password {
    position: absolute;
    right: 35px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 16px;
    z-index: 1;
  }
  